* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	/* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
	font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
	line-height: 1.15; /* 1. Correct the line height in all browsers. */
	-webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
	-moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
	tab-size: 4; /* 3 */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family:  'General Sans' , sans-serif;
    background-color: #1e293b;
}

/* Styling the navbar */

a {
    text-decoration: none;
    color: white;
}

.navbar h2 {
    background-color: transparent;
    padding: 16px;
    border-radius: 3px;

    box-shadow: 0px 0px 15px 10px #15181b;
    color: #8681ef;

    transition: .3s;
}

.navbar h2:hover {
    box-shadow: 0px 0px 15px 3px blue;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #212529;
    color: white;
    padding: 25px 60px;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 0px 15px 10px #15181b;
}

/* Styling the cart */
.cart {
    position: relative;
    background-color: #fff;
    color: #212529;
    font-size: 30px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 15px 15px #15181b;

    transition: .3s;
}

.cart:hover {
    box-shadow: 0px 0px 15px 3px lightblue;
}

.cartAmount {
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 16px;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 3px;
    font-weight: 700;
}

/* Styling the items display */

.shop {
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;
    margin-bottom: 30px;
    padding-top: 200px;
}

@media (max-width: 1000px) {
    .shop {
        grid-template-columns: repeat(2, 223px);
    }
}

@media (max-width: 500px) {
    .shop {
        grid-template-columns: repeat(1, 223px);
    }
}

.item {
    border: 2px solid #212529;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 0px 15px 10px #15181b;

    transition: transform 0.3s;
}

.item img {
    width: 100%;
    border-radius: 2px 2px 0 0;
}

.details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.price-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 16px;
    align-items: center;
}

.bi-dash-lg {
    background-color: red;

    transition: 0.3s;
}

.bi-plus-lg {
    background-color: green;
    align-items: center;

    transition: transform 0.3s, background-color 1s;
}

.bi-plus-lg:hover,
.bi-dash-lg:hover {
    transform: translateY(3px);
    background-color: white;
}

/* Style rules for label and some buttons. */
.text-center {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 150px;
}

.HomeBtn,
.checkout,
.removeAll {
    background-color: #212529;
    font-weight: 600px;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0px 0px 15px 3px #15181b;

    transition: 0.3s;
}

.removeAll {
    margin-left: 4px;
}

.HomeBtn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 0px 15px 3px blue;
}

.checkout:hover {
    transform: translateY(-3px);
    box-shadow: 0px 0px 15px 3px lightgreen;
}

.removeAll:hover {
    transform: translateY(-3px);
    box-shadow: 0px 0px 15px 3px lightcoral
}

.checkout {
    background-color: green;
    font-weight: 800;
}

.removeAll {
    background-color: red;
    font-weight: 800;
}

.bi-x-lg {
    color: red;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.bi-x-lg:hover {
    box-shadow: 0px 0px 15px 3px red;
    transform: rotate(720deg);
}

/* Style rules for shopping-cart */
.shopping-cart {
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 15px;
}

/* style rules for cart-item */
.cart-item {
    border: 2px solid #212529;
    border-radius: 5px;
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 15px 10px #15181b;
    transition: transform 0.3s;
}

.item:hover,
.cart-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px 3px lightblue;
}

.title-price-x {
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-item-price {
    background-color: #212529;
    color: white;
    border-radius: 4px;
    padding: 3px;
}
